// Colors ========================================
$background-color: #1e1e1e;
$accent-color: #424549;
$container-color: #282B30;
$text-color: #fafafa;
$title-color:#7289DA;

// Typography ========================================
$font: "Inter", sans-serif;

// measurments
$vertical-padding: 1.875rem;
$horizontal-padding: 1.75rem;